/cuda_debug/
/StrandSim/StrandSim/x64/
*.pdb
*.vcxproj.user
/StrandSim/.vs/
/StrandSim/x64/Debug/
/StrandSim/x64/Release/*
/StrandSim/Scripts/
!/StrandSim/x64/Release/freeglut.dll
!/StrandSim/x64/Release/glew32.dll

